* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 20px;
}

table {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  border-spacing: 0;
  background-color: black;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}
